<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Chirp</title>
  <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png" />
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />
</head>

<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/face.png" alt="face logo" /></a>
    <div class="navlink"><a href="/login">Feed</a></div>
    <div class="navlink"><a href="/logout">Log out</a></div>
  </nav>

  <h3>Change Password</h3>
  <section id="changePassword">

  </section>

  <h3>Premium</h3>
  <section id="premium">
    
  </section>

  <div id="error" class='hidden'>
    <h3><span id="errorMessage"></span></h3>
  </div>

  <footer id="footer">
    <div id="ad">ADS GO HERE</div>
  </footer>

  <script src="/assets/accountBundle.js"></script>
</body>

</html>